{% extends 'base.html' %}

{% block head %}
    
    
    <!-- CSSMap STYLESHEET - EUROPE -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssmap-europe/cssmap-europe.css') }}" media="screen">

    <!-- CSSMap SCRIPT -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/cssmap.min.js') }}" defer="defer"></script>

    <script src="{{url_for('static', filename='js/map_handler.js')}}" defer="defer"></script>
    <script src="{{url_for('static', filename='js/scroller.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/menu_handler.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
{% endblock %}

{% block header %}
    <h1>{% block title %}Map{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="news-agency-selector-area">
        <div class="form-check form-check-inline">
            <!--<label class="form-check-label">News agency: </label>-->
            <span class="badge badge-primary">News agency selector:</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="bbc-news">
            <label class="form-check-label" for="inlineRadio1">BBC News</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="cbc-news">
            <label class="form-check-label" for="inlineRadio2">CBC News</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="cnn">
            <label class="form-check-label" for="inlineRadio3">CNN</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="independent">
            <label class="form-check-label" for="inlineRadio3">Independent</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="reuters">
            <label class="form-check-label" for="inlineRadio3">Reuters</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="time">
            <label class="form-check-label" for="inlineRadio3">Time</label>
        </div>
    </div>

    <!--CSSMap - Europe-->
    <div id="map-europe">
        <ul class="europe">
            <li class="eu1"><a href="#albania" rel="nofollow">Albania</a></li>
            <li class="eu2"><a href="#andorra" rel="nofollow">Andorra</a></li>
            <li class="eu3"><a href="#austria" rel="nofollow">Austria</a></li>
            <li class="eu4"><a href="#belarus" rel="nofollow">Belarus</a></li>
            <li class="eu5"><a href="#belgium" rel="nofollow">Belgium</a></li>
            <li class="eu6"><a href="#bosnia-and-herzegovina" rel="nofollow">Bosnia and Herzegovina</a></li>
            <li class="eu7"><a href="#bulgaria" rel="nofollow">Bulgaria</a></li>
            <li class="eu8"><a href="#croatia" rel="nofollow">Croatia</a></li>
            <li class="eu9"><a href="#cyprus" rel="nofollow">Cyprus</a></li>
            <li class="eu10"><a href="#czech-republic" rel="nofollow">Czech Republic</a></li>
            <li class="eu11"><a href="#denmark" rel="nofollow">Denmark</a></li>
            <li class="eu12"><a href="#estonia" rel="nofollow">Estonia</a></li>
            <li class="eu13"><a href="#france" rel="nofollow">France</a></li>
            <li class="eu14"><a href="#finland" rel="nofollow">Finland</a></li>
            <li class="eu15"><a href="#georgia" rel="nofollow">Georgia</a></li>
            <li class="eu16"><a href="#germany" rel="nofollow">Germany</a></li>
            <li class="eu17"><a href="#greece" rel="nofollow">Greece</a></li>
            <li class="eu18"><a href="#hungary" rel="nofollow">Hungary</a></li>
            <li class="eu19"><a href="#iceland" rel="nofollow">Iceland</a></li>
            <li class="eu20"><a href="#ireland" rel="nofollow">Ireland</a></li>
            <li class="eu21"><a href="#san-marino" rel="nofollow">San Marino</a></li>
            <li class="eu22"><a href="#italy" rel="nofollow">Italy</a></li>
            <li class="eu23"><a href="#kosovo" rel="nofollow">Kosovo</a></li>
            <li class="eu24"><a href="#latvia" rel="nofollow">Latvia</a></li>
            <li class="eu25"><a href="#liechtenstein" rel="nofollow">Liechtenstein</a></li>
            <li class="eu26"><a href="#lithuania" rel="nofollow">Lithuania</a></li>
            <li class="eu27"><a href="#luxembourg" rel="nofollow">Luxembourg</a></li>
            <li class="eu28"><a href="#macedonia" rel="nofollow">Macedonia <abbr title="The Former Yugoslav Republic of Macedonia">(F.Y.R.O.M.)</abbr></a></li>
            <li class="eu29"><a href="#malta" rel="nofollow">Malta</a></li>
            <li class="eu30"><a href="#moldova" rel="nofollow">Moldova</a></li>
            <li class="eu31"><a href="#monaco" rel="nofollow">Monaco</a></li>
            <li class="eu32"><a href="#montenegro" rel="nofollow">Montenegro</a></li>
            <li class="eu33"><a href="#netherlands" rel="nofollow">Netherlands</a></li>
            <li class="eu34"><a href="#norway" rel="nofollow">Norway</a></li>
            <li class="eu35"><a href="#poland" rel="nofollow">Poland</a></li>
            <li class="eu36"><a href="#portugal" rel="nofollow">Portugal</a></li>
            <li class="eu37"><a href="#romania" rel="nofollow">Romania</a></li>
            <li class="eu38"><a href="#russian-federation" rel="nofollow">Russian Federation</a></li>
            <li class="eu39"><a href="#serbia" rel="nofollow">Serbia</a></li>
            <li class="eu40"><a href="#slovakia" rel="nofollow">Slovakia</a></li>
            <li class="eu41"><a href="#slovenia" rel="nofollow">Slovenia</a></li>
            <li class="eu42"><a href="#spain" rel="nofollow">Spain</a></li>
            <li class="eu43"><a href="#sweden" rel="nofollow">Sweden</a></li>
            <li class="eu44"><a href="#switzerland" rel="nofollow">Switzerland</a></li>
            <li class="eu45"><a href="#turkey" rel="nofollow">Turkey</a></li>
            <li class="eu46"><a href="#ukraine" rel="nofollow">Ukraine</a></li>
            <li class="eu47"><a href="#united-kingdom" rel="nofollow">United Kingdom</a></li>
        </ul>
    </div>

    <!--News modal-->
    <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newsModalLabel">Fresh news</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <table class="table-bordered table-hover table-condensed table-responsive" id="news-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody id="news-table-body">
                            <!--here come table rows from Javascript-->
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="messageModalLabel">No news</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_scroller_content %}
    <div id="scroller">
        <div class="scroller-element">
            <p><span class="badge badge-primary" id="scroller-label">World news from</span></p>
        </div>
        <div class="scroll-left">
            <div class="scroller-element" id="text-container-div">
                <p id="scrolling-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem </p>
            </div>
        </div>
    </div>
{% endblock %}