{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Map{% endblock %}</h1>
{% endblock %}

{% block content %}
   <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div>
            <p id="greeting">HELLO WORLD</p>
            <p id='testpar'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla risus, hendrerit eget luctus sed, pellentesque a lorem. Donec tristique tempus nisi nec hendrerit. Duis aliquam enim metus, aliquam finibus ipsum viverra at. Nam commodo hendrerit libero, et mattis felis vehicula vel. Pellentesque vehicula elit ut orci viverra malesuada. Vivamus quis nisl magna. Phasellus malesuada tempus lacus. In pulvinar blandit purus, eget sagittis enim dignissim non. Suspendisse erat arcu, porta vel sem non, interdum porttitor arcu. Etiam volutpat lacinia risus, nec sollicitudin mauris. Morbi lorem augue, convallis ut tempor sed, consectetur id erat. Suspendisse at malesuada purus. Donec dui lacus, pulvinar sed sem et, tempus consequat arcu. Proin vitae aliquet elit.</p>
            <p>Quisque semper nibh nec volutpat placerat. Donec laoreet massa in dolor mattis, id efficitur mi consectetur. Praesent tempor volutpat nibh, imperdiet faucibus neque commodo egestas. In molestie, lacus a venenatis pulvinar, turpis elit maximus quam, in sollicitudin diam lorem vel elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut mi ligula, lacinia at metus vitae, sagittis aliquam diam. Nam a faucibus mauris.</p>
            <p>Aliquam tellus odio, tempor pharetra leo nec, ultrices egestas diam. Quisque sed arcu eget urna accumsan ultricies. Morbi faucibus lacinia orci, eu luctus turpis maximus a. Nunc a elit at felis tincidunt congue. Vivamus non ultrices mauris. Cras ullamcorper, neque ornare semper semper, libero odio accumsan diam, id vulputate mi nibh eu magna. Proin eleifend aliquet efficitur. Proin ac eros volutpat purus pharetra blandit a vitae leo. Morbi rhoncus massa diam, vel blandit metus condimentum elementum. Fusce rhoncus finibus dolor vel pharetra. Etiam imperdiet pretium nisi vitae auctor. Donec congue lorem id orci sodales, eget lacinia justo accumsan. Vivamus dictum mollis nunc imperdiet vehicula. Praesent varius eros eget mauris consequat, non placerat metus laoreet.</p>
            <p>Praesent non hendrerit metus. Nulla interdum gravida erat, a iaculis eros maximus id. Fusce eu magna turpis. Integer quis erat enim. Aliquam euismod ultricies sem non malesuada. Donec tempor risus condimentum bibendum placerat. Pellentesque ut lectus eget diam lacinia laoreet. Aenean sit amet risus eu risus interdum semper dictum ac lacus. Donec finibus massa ac tincidunt fermentum.</p>
        </div>
{% endblock %}